*~
/elpa
*.elc
/tramp
/url/cookies
/bookmarks
/history
/.smex-items
/eshell/history
/eshell/lastdir
/org-clock-save.el
/places
/secret-settings.el
/el-get
/abbrev_defs
/ac-comphist.dat
/swank
/semanticdb
/ede-projects.el
/javadoc-cache
/projectile-bookmarks.eld
