/backups
/elpa
/abbrev_defs
/auto-save-list
/.org-id-locations
/org-clock-save.el
/places
/bookmarks
/eshell
/el-get
/projectile-bookmarks.eld
/request/curl-cookie-jar
/srecode-map.el
/semanticdb
/emacs-visited-files
/ac-comphist.dat
/.session
/tramp
/url/cookies
/url/
