*~
/.org-id-locations
/.python-environments
/.session
/abbrev_defs
/ac-comphist.dat
/auto-save-list
/backups
/bookmarks
/el-get
/elpa
/emacs-visited-files
/eshell
/org-clock-save.el
/places
/projectile-bookmarks.eld
/projectile.cache
/request/curl-cookie-jar
/semanticdb
/srecode-map.el
/tramp
/url
/recentf
/server
/savefile